@import '../variables.scss';
.post {
    display: grid;
    justify-content: center;
    margin: 5vh 0;
    .head {
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 3rem;
        align-items: center;
        // height: 50vh;
        // width: 100vw;
        overflow: hidden;
        // position: relative;
        z-index: 2;
        .headerInfo {
            z-index: 10;
            text-align: center;
            color: $text-color;
            display: grid;
            gap: 0.5rem;
            justify-items: center;
            justify-self: center;
            p {
                font-family: Montserrat;
                font-weight: 600;
                align-self: center;
            }
            h1 {
                line-height: 1;
                font-size: 5vw;
                font-family: Montserrat;
                font-weight: 800;
                margin-bottom: 0.5rem;
            }
        }
    }
    .articleInfo {
        // margin: .5rem 0;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // max-width: 760px;
        gap: 1rem;
        opacity: .7;
        justify-items: center;
        justify-self: center;
        p {
            font-family: Montserrat;
            font-weight: 800;
            align-self: center;
        }
    }
    article {
        margin-top: 10vh;
        @include md-styles;
    }
    .readNext {
        width: 760px;
        justify-self: center;
        margin-top: 3rem;
        h5 {
            font-size: 2rem;
            text-align: center;
            color: $dominant;
            font-family: Punc;
        }
        .more {
            margin-top: 2rem;
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 5rem;
            a {
                font-size: 1.5rem;
            }
        }
    }
}

@media(max-width: 768px) {
    .post {
        .head {
            display: grid;
            grid-template-columns: 1fr;
            grid-auto-flow: dense;
            .headerInfo {
                grid-row: 2;
                h1 {
                    font-size: 5rem;
                }
            }
        }
        .readNext {
            width: 90vw;
            .more {
                grid-template-columns: 1fr;
            }
        }
    }
}