.post {
    display: grid;
    justify-content: center;
    .head {
        height: 50vh;
        width: 100vw;
        overflow: hidden;
        position: relative;
        z-index: 2;
        .header-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            text-align: center;
            // margin: 0 1rem;
            text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            color: $text-color;
            h1 {
                font-size: 5rem;
                // text-align: center;
            }
        }
    }
    .article-info {
        margin: .5rem 0;
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        max-width: 760px;
        gap: 1rem;
        opacity: .7;
        justify-items: center;
        justify-self: center;
        p {
            font-family: Montserrat;
            font-weight: 800;
            align-self: center;
        }
    }
    article {
        display: grid;
        justify-self: center;
        width: 760px;
        color: $text-color;
        font-family: Montserrat;
        font-size: 1.3rem;
        line-height: 1.3rem*1.5;
        letter-spacing: 0px;
        margin: 2rem 1.5rem;
        h1,
        h2,
        h3 {
            text-align: center;
            font-family: Monument Extended;
            margin-top: 2rem;
        }
        li {
            padding-left: 1em;
            list-style-position: inside;
        }
        li::marker {
            // list-style-type: none;
            // color: $primary-first;
            font-weight: 100;
        }
        ul {
            // list-style-type: "◙";
        }
        ol {}
        a {
            font-weight: 600;
            color: $text-color;
            text-decoration: none;
            background-image: $primary-gradient;
            // background-size: 1.3/2;
            background-size: 100% 30%;
            background-repeat: no-repeat;
            letter-spacing: 1px;
            transition: .3s;
            background-size: 100% 50%;
            background-position: 50% 100%;
            &:hover {
                background-position: 100% 0%;
            }
        }
        p {
            margin: 1.2rem 0;
            img {
                justify-self: center;
                width: 100%;
                transition: .3s;
                &:hover {
                    transform: scale(1.3);
                }
            }
        }
        table {
            table-layout: auto;
            width: 100%;
            border-collapse: collapse;
            border: 3px solid $primary-first;
            transition: .3s;
            tr {
                &:hover {
                    transition: .3s;
                    background-image: linear-gradient(90deg, #7800bd80 0%, #6024e080 50%, #0091ff80 100%);
                }
            }
            th,
            td {
                padding: 2rem 1rem;
            }
            th {
                font-family: Monument Extended;
                text-align: center !important;
            }
            td {
                text-align: left !important;
            }
        }
        hr {
            width: 100%;
        }
    }
    .read-next {
        width: 760px;
        justify-self: center;
        margin-top: 3rem;
        text-align: center;
        color: $text-color;
        .more {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            // background: $primary-gradient !important;
            // -webkit-background-clip: text !important;
            @include primary-text-gradient;
            a {
                font-size: 1.5rem;
                // color: transparent !important;
            }
        }
    }
}

@media(max-width: 768px) {
    .post {
        article {
            width: 90vw;
            h1 {
                font-size: 3rem;
            }
            p {
                img {
                    &:hover {
                        transform: scale(1);
                    }
                }
            }
        }
        .read-next {
            width: 90vw;
            .more {
                grid-template-columns: 1fr;
            }
        }
    }
}

.gatsby-highlight {
    background-color: #1d1f21;
    border-radius: 0.3em;
    margin: 0.5em 0;
    padding: 1em;
    overflow: auto;
}

.gatsby-highlight pre[class*="language-"].line-numbers {
    padding: 0;
    padding-left: 2.8em;
    overflow: initial;
}