@import '../variables.scss';
.blog {
    display: grid;
    justify-content: center;
    gap: 10vh;
    .articlesGrid {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        width: 80vw;
        gap: 5rem;
    }
    h1 {
        text-align: center;
        z-index: 5;
        font-size: 3rem;
        -webkit-text-stroke: 0.5px $text-color;
        color: transparent;
        text-transform: uppercase;
        left: 0;
        margin: 3rem;
    }
}

@media (max-width: 767px) {
    .blog>.articlesGrid {
        grid-template-columns: 1fr;
    }
}