.blog {
    display: grid;
    justify-content: center;
    .articles_grid {
        display: grid;
        width: 80vw;
        gap: 5rem;
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        text-align: center;
        z-index: 5;
        font-size: 4rem;
        -webkit-text-stroke: 0.5px $text-color;
        color: transparent;
        text-transform: uppercase;
        left: 0;
        margin: 3rem;
    }
}

@media (max-width: 767px) {
    .blog>.articles_grid {
        grid-template-columns: 1fr;
    }
}

@import 'blog/categoriesNav',
'/article';