.CategoriesNav {
    // position: sticky;
    // top: 0;
    font-size: .95rem;
    font-family: Monument;
    font-weight: 400;
    // background-image: $primary-gradient;
    // width: 100vw;
    display: grid;
    height: 150%;
    z-index: 10;
    .blog-links {
        width: 80vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        gap: 1.5rem;
        a {
            text-transform: lowercase;
            text-decoration: none;
            color: $text-color;
            // opacity: .5;
            @include text-hover($primary-first);
        }
    }
}

.active-link {
    color: red;
}