@import '../variables.scss';
.about {
    display: grid;
    gap: 10vh;
    min-height: 70vh;
    .content {
        display: grid;
        justify-items: center;
        .aboutText {
            width: 700px;
            font-family: Montserrat;
            display: grid;
            gap: 20px;
            width: 60vw;
            font-size: $text-size;
            color: $text-color;
            h3 {
                text-transform: uppercase;
                font-size: 2rem;
                color: $dominant;
                text-align: right;
                font-weight: 800;
            }
            p {
                font-weight: 300;
            }
            a {
                color: $dominant;
            }
        }
    }
}