.about {
    display: grid;
    align-items: center;
    justify-items: center;
    .text {
        font-family: Montserrat;
        display: grid;
        gap: 20px;
        width: 60vw;
        font-size: $text-size;
        font-weight: 600;
        color: $text-color;
        h2 {
            text-transform: uppercase;
            font-size: 2rem;
            @include primary-text-gradient;
            font-weight: 800;
        }
    }
}