@import '../variables.scss';
.articleLink {
    &::before {
        content: ' ';
        width: 100%;
        height: 100%;
        border: 1px solid $dominant;
        background-color: transparent;
        transition: 0.3s;
    }
    transition: 0.3s;
    display: grid;
    grid-template-columns: 50px 1fr;
    text-decoration: none;
    color: $text-color;
    gap: 1rem;
    div {
        display: grid;
        gap: .1rem;
        // width: fit-content;
    }
    h3 {
        font-family: 'Montserrat';
        z-index: 1;
        font-size: 2rem;
        color: $text-color;
        font-weight: 800;
    }
    p {
        font-size: 1.2rem;
        // font-weight: 600;
        @include categoriesBlock;
    }
    .updateDate {
        font-family: Punc;
    }
    &:hover {
        &::before {
            background-color: $dominant;
        }
        transform: scale(1.05);
    }
}