.articles {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
}

.articles-block {
    width: 40vw;
}

@media screen and (max-width: 767px) {
    .articles-block {
        width: 60vw;
    }
}

@import '/articleCard';