.article {
    position: relative;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        transform: translate(8px, 8px);
        .shadow {
            transform: translate(-32px, -32px);
        }
    }
    .cover {
        display: grid;
        align-items: center;
        justify-items: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        height: 35vh;
    }
    h3 {
        margin: 0 1rem;
        font-size: 2rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: $text-color;
        text-align: center;
    }
    .shadow {
        position: absolute;
        background-image: $primary-gradient;
        transform: translate(-16px, -16px);
        z-index: -1000;
        transition: 0.3s;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}