@import '../variables.scss';
.articlesSection {
    display: grid;
    gap: 10vh;
}

.articlesBlck {
    display: grid;
    justify-self: center;
    width: max-content;
    gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 767px) {
    .articlesBlck {
        grid-template-columns: repeat(1, 1fr);
    }
}