.hero {
    font-family: 'Monument Extended Ultrabold';
    display: grid;
    min-height: 90vh;
}

@keyframes translateXleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes translateXright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(0);
    }
}

.hero-content {
    // margin: 0 5rem;
    justify-self: center;
    align-self: center;
    display: grid;
    // justify-items: center;
    // grid-template-rows: repeat(2, min-content);
    gap: 5vw;
    .introduce {
        text-transform: uppercase;
        margin: 0;
        font-size: 3.5rem;
        color: $text-color;
        z-index: 1;
        // width: min-content;
        @include primary-text-gradient;
        animation: translateXleft 120s linear infinite;
    }
    p {
        // animation: translateXright 100s linear infinite;
        justify-self: end;
        width: 60vw;
        text-align: end;
        font-family: 'Monument Extended';
    }
}

@media (max-width: 767px) {
    .hero-content {
        // writing-mode: vertical-rl;
        h1 {
            font-size: 3rem;
        }
        p {
            width: 80vw;
        }
    }
}