@import '../variables.scss';
.hero {
    // font-family: 'Monument Extended Ultrabold';
    font-family: "Punc";
    display: grid;
    min-height: 90vh;
    // margin: 0 100px;
    // width: 100vw;
}

@keyframes translateXleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes translateXright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(0);
    }
}

.heroContent {
    // justify-self: center;
    align-self: center;
    display: grid;
    // justify-items: center;
    // grid-template-rows: repeat(2, min-content);
    gap: 3vw;
    .introduce {
        .first {
            font-weight: 800;
            color: $dominant;
        }
        .second {
            font-weight: normal;
        }
        // font-size: 96px;
        margin: 0;
        font-size: 5rem;
        color: $text-color;
        z-index: 1;
        // width: min-content;
        // @include primary-text-gradient;
        // animation: translateXleft 120s linear infinite;
    }
    p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        justify-self: end;
        width: 40vw;
        color: $text-color; // text-align: start;
        // font-family: 'Monument Extended';
    }
}

@media (max-width: 767px) {
    .heroContent {
        // writing-mode: vertical-rl;
        .introduce {
            font-size: 3rem;
        }
        p {
            width: 80vw;
        }
    }
}