@import '../variables.scss';
.projectsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
}

.desriptionBlock {
    font-weight: 400;
    // font-size: 18px;
    color: $text-color;
    transition: .3s;
    @include md-styles;
    width: 100%;
    height: 440px;
    // margin: 0;
    .desriptionText {
        margin: auto 0;
    }
}

.projectsItems {
    display: grid;
    .projectLink {
        @include stroke-hover;
        justify-self: center;
        align-self: center;
    }
}

.projects {
    display: grid;
    align-items: center;
}

@media (max-width: 767px) {
    .projectsSection {
        grid-template-columns: 1fr;
    }
    .projectsItems {
        align-items: left;
    }
    .desriptionBlock {
        display: none;
    }
    .projectsItems {
        max-width: 90vw;
    }
}