.projects-items {
    display: grid;
    max-width: 80vw;
    min-height: 70vh;
    align-items: center;
    justify-items: center;
    justify-self: center;
    .project-link {
        text-align: center;
        -webkit-text-stroke: 0.5px $text-color;
        // color: transparent;
        font-size: 5rem;
        text-decoration: none;
        text-transform: uppercase;
        transition: .3s;
        // @include page-links;
        position: relative;
        color: rgba(29, 29, 31, 0.5);
        &::before {
            content: attr(data-text);
            transition: .3s;
            position: absolute;
            z-index: -1;
            @include primary-text-gradient;
            -webkit-text-stroke: 0px;
            color: transparent;
            transform: translate(-8px, -8px);
        }
        transform: translate(4px, 4px);
        &:hover {
            transform: translate(8px, 8px);
            &::before {
                transform: translate(-16px, -16px);
            }
        }
    }
}

.projects {
    display: grid;
    align-items: center;
}

@media (max-width: 767px) {
    .projects-items {
        .project-link {
            font-size: 2.8rem;
            -webkit-text-stroke: 1px $text-color;
        }
    }
}