@import '../variables.scss';
.projectsSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
}

.desriptionBlock {
    font-weight: 300;
    // font-size: 18px;
    color: $text-color;
    transition: .3s;
    @include md-styles;
    height: 440px;
    // margin: 0;
    .desriptionText {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        margin: auto 0;
    }
}

.projectsItems {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    max-width: 80vw;
    height: 100%;
    // align-items: center;
    // justify-items: center;
    // justify-self: center;
    .projectLink {
        @include stroke-hover;
    }
}

.projects {
    display: grid;
    align-items: center;
}

@media (max-width: 767px) {
    .projectsSection {
        grid-template-columns: 1fr;
    }
    .projectsItems {
        align-items: center;
    }
    .desriptionBlock {
        display: none;
    }
    .projectsItems {
        max-width: 90vw;
    }
}