.projects-items {
    min-height: 100vh;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    h3 {
        font-family: Montserrat;
        font-weight: 900;
        font-size: 5rem;
        text-transform: uppercase;
        -webkit-text-stroke: 2px $text-color;
        transition: 0.3s;
        &:hover {
            -webkit-text-stroke: 0 $text-color;
            @include primary-text-gradient;
        }
    }
}

@media (max-width: 767px) {
    .projects-items {
        h3 {
            font-size: 2.5rem;
            -webkit-text-stroke: 1px $text-color;
        }
    }
}