@import '../variables.scss';
.linksBlock {
    display: grid;
    .linksContent {
        align-self: center;
        display: grid;
        gap: 2rem;
        justify-items: center;
        a {
            @include stroke-hover;
            // text-transform: uppercase;
        }
    }
}