.socialLinks {
    display: grid;
    .links {
        align-self: center;
        display: grid;
        gap: 2rem;
        justify-items: center;
        a {
            font-family: Monument Extended Ultrabold;
            // text-transform: uppercase;
            font-weight: 400;
            font-size: 5rem;
            @include page-links;
        }
    }
}