@import '../variables.scss';
.stack {
    min-height: 70vh;
    display: grid;
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        padding: 10% 2.5rem;
        gap: 3rem 2rem;
    }
    .item {
        display: grid;
        font-family: Montserrat;
        color: $text-color;
        font-weight: 800;
        font-size: 1.7rem;
        align-self: center;
        justify-self: center;
        width: max-content;
    }
    h4 {
        padding-top: 15%;
        font-size: 2.5rem;
        color: $text-color;
        text-align: center;
        font-family: Punc;
        font-weight: bold;
    }
}

.stackItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-items: center;
    background-color: transparent;
    height: 100%;
    width: 90vw;
    .itemsDiv {
        @include box-stroke-hover($dominant);
        border: 1px solid $text-color;
        position: relative;
        height: 100%;
        width: 85%;
    }
}

@media (max-width: 767px) {
    .stackItems {
        grid-template-columns: 1fr;
        .itemsDiv {
            width: 85vw;
        }
    }
}