@import '../variables.scss';
.stack {
    min-height: 70vh;
    display: grid;
    gap: 10vh;
    // align-content: space-between;
    // align-items: center;
    .items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(auto-fit, minmax(1fr, 1fr));
        justify-self: center;
        padding: 10% 2.5rem;
        gap: 3rem 2rem;
    }
    .item {
        display: grid;
        font-family: Montserrat;
        color: $text-color;
        font-weight: 800;
        font-size: 1.7rem;
        align-self: center;
        justify-self: center;
        width: max-content;
    }
    h4 {
        padding-top: 15%;
        font-size: 3rem;
        color: $text-color;
        text-align: center;
        font-family: Punc;
        font-weight: bold;
    }
}

.stackItems {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    .bg {
        @include gradient-block-shadow($dominant);
        border: 1px solid $text-color;
        position: relative;
        height: 100%;
        transform: translate(15px, 15px);
        transition: .3s;
        &:hover {
            transform: translate(20px, 20px);
        }
    }
    .itemsDiv {
        // background-color: rgba(29, 29, 31, 0.72);
        background-color: transparent;
        // backdrop-filter: saturate(180%);
        // backdrop-filter: blur(4px);
        filter: invert(0);
        height: 100%;
        min-width: 29vw;
        z-index: 100;
    }
    .bg:nth-child(odd) .items-block {
        background-color: rgba(255, 255, 255, 0.514);
        // background-color: rgba(29, 29, 31, 0.72);
        // background-color: rgb(255, 255, 255);
        backdrop-filter: saturate(180%);
        backdrop-filter: blur(15px);
        filter: invert(0);
        height: 100%;
        h4,
        p {
            color: black;
        }
    }
}

@media (max-width: 767px) {
    .stackItems {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}