@import './variables.scss';
.errPage {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 5rem;
    min-height: 50vh;
    .errContent {
        display: grid;
        height: min-content;
    }
    h1 {
        margin: 0;
        justify-self: center;
        align-self: center;
        font-family: Montserrat;
        font-size: 7rem;
        color: $dominant;
        text-transform: uppercase;
    }
    h2 {
        margin: 0;
        font-family: Montserrat;
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 2rem;
    }
    a {
        margin-top: 0 !important;
    }
}