.err-page {
    display: grid;
    justify-content: center;
    margin: 5rem;
    .err-content {
        display: grid;
    }
    h1 {
        margin: 0;
        justify-self: center;
        align-self: center;
        font-family: Monument Extended;
        font-size: 7rem;
        color: $primary-gradient;
        text-transform: uppercase;
        @include primary-stroke-gradient(10px)
    }
    h2 {
        margin: 0;
        font-family: Monument Extended;
        font-size: 2rem;
        text-transform: uppercase;
        // @include primary-text-gradient()
        color: #fff;
    }
    a {
        margin: 1rem;
        font-size: $text-size;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;
        justify-self: center;
        padding: 1rem;
        font-family: Monument Extended;
        background: $primary-gradient;
        @include box-hover
    }
}

// end err page