@import './variables';
footer {
    font-family: Montserrat;
    background: $dominant;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 3rem 0 1rem;
    gap: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $bg-color;
    span {
        // font-family: Monument Extended;
        font-weight: bold;
    }
    grid-template-areas: 'logo navigation' 'copyright copyright';
    .footerLogo {
        grid-area: logo;
        width: 10rem;
        transition: .3s;
        filter: invert(1);
        // animation-duration: 1s;
        // animation-iteration-count: infinite;
        // animation-name: heartbeat;
    }
    .navigation {
        grid-area: navigation;
        display: grid;
        grid-auto-rows: auto;
        a {
            font-family: Montserrat;
            font-weight: 800;
            color: $bg-color;
            text-decoration: none;
            transition: .3s;
            &:hover {
                transform: translate(5px);
            }
        }
    }
    .copyright {
        // justify-self: center;
        grid-area: copyright;
        text-align: center;
        color: $bg-color !important;
    }
    .activeLink {
        color: white !important;
    }
}

.spikes {
    position: relative;
    background: $bg-color;
    margin-top: 5rem;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 20px;
    background-size: 20px 100%;
    background-image: linear-gradient(135deg, $bg-color 25%, transparent 25%), linear-gradient(225deg, $bg-color 25%, transparent 25%);
    background-position: 0 0;
}