footer {
    font-family: Montserrat;
    background: $primary-gradient;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 2rem 0;
    box-shadow: inset 0px 21px 21px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    span {
        font-family: Monument Extended;
    }
    grid-template-areas: 'logo navigation' 'copyright copyright';
    .footer-logo {
        grid-area: logo;
        width: 10rem;
    }
    .navigation {
        grid-area: navigation;
        display: grid;
        grid-auto-rows: auto;
        a {
            font-family: Monument;
            color: $text-color;
            text-decoration: none;
            transition: .3s;
            &:hover {
                transform: skewX(-20deg) translate(20px);
            }
        }
    }
    .copyright {
        // justify-self: center;
        grid-area: copyright;
        text-align: center;
    }
}

.spikes {
    margin-top: 7rem;
    position: relative;
    background: #070707;
    // height: 50vh;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -0%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 30px;
    background-size: 30px 100%;
    background-image: linear-gradient(135deg, #070707 25%, transparent 25%), linear-gradient(225deg, #070707 25%, transparent 25%);
    background-position: 0 0;
}