nav {
    font-size: 1.2rem;
    font-family: "Monument Extended Ultrabold";
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: .5rem;
    img {
        transition: .3s;
        &:hover {
            transition: .3s;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-name: heartbeat;
        }
    }
    .line-nav {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    a {
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-color;
        @include text-hover($primary-first)
    }
    .burger-btn {
        display: none;
    }
}

p {
    color: $text-color;
}

@mixin nav-btns {
    background: none;
    border: none;
    color: $text-color;
    font-family: Monument Extended Ultrabold;
    font-size: 2rem;
    text-transform: uppercase;
    @include text-hover($primary-first);
}

@media (max-width: 767px) {
    .header-logo>img {
        width: 100px;
    }
    nav>.line-nav {
        display: none;
    }
    nav>.burger-btn {
        display: grid;
        width: min-content;
        align-self: center;
        justify-self: end;
        @include nav-btns;
    }
}

@import '/sidebar';