nav {
    display: grid;
    font-size: 1rem;
    font-family: "Monument Extended Ultrabold";
    // grid-template-columns: 1fr 2fr;
    padding: .5rem;
    justify-items: center;
    .header-logo {
        display: grid;
        grid-template-columns: repeat(2, auto);
        text-transform: capitalize;
        align-items: center;
        img {
            width: 70px;
        }
        transition: .3s;
        &:hover {
            transform: scale(90%);
        }
    }
    .line-nav {
        backdrop-filter: saturate(180%) blur(20px);
        width: 80vw;
        display: grid;
        grid-template-columns: min-content 1fr;
        .nav-links {
            justify-self: end;
            gap: 2rem;
            display: grid;
            grid-template-columns: repeat(4, min-content);
        }
    }
    a {
        align-self: center;
        justify-self: center;
        text-transform: uppercase;
        text-decoration: none;
        color: $text-color;
        &:not(.header-logo) {
            @include text-hover($primary-second);
        }
    }
    .burger-menu {
        display: none;
    }
}

p {
    color: $text-color;
}

@mixin nav-btns {
    background: none;
    border: none;
    color: $text-color;
    font-family: Monument Extended Ultrabold;
    font-size: 2rem;
    text-transform: uppercase;
    // @include text-hover($primary-first);
}

@media (max-width: 767px) {
    .header-logo>img {
        width: 100px;
    }
    nav>.line-nav {
        display: none;
    }
    nav>.burger-menu {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        .header-logo {
            align-self: center;
            justify-self: start;
        }
        .burger-btn {
            width: min-content;
            align-self: center;
            justify-self: end;
            @include nav-btns;
        }
    }
}

@import '/sidebar';