@import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);
@import url(//db.onlinewebfonts.com/c/99501fdab737541e9315ceaf9229370f?family=Monument+Extended);
$text-color: #FFFFFF;
$text-size: 1.4rem;
$primary-first: #7700BB;
$primary-second: #0090FF;
$primary-gradient: linear-gradient(90deg, $primary-first 0%, $primary-second 100%);
@mixin primary-text-gradient {
    background: $primary-gradient;
    -webkit-background-clip: text;
    color: transparent;
}

@mixin primary-stroke-gradient($px) {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-stroke: $px transparent;
}

@mixin text-hover($color) {
    text-shadow: 0px 0px 0px $color;
    transition: 0.2s;
    &:hover {
        text-shadow: -8px -8px 0px $color;
        transform: translate(4px, 4px);
    }
}

@mixin box-hover {
    box-shadow: 0px 0px 0px $primary-first;
    transition: 0.2s;
    &:hover {
        box-shadow: -8px -8px 0px white;
        transform: translate(4px, 4px);
    }
}

@mixin page-links {
    filter: drop-shadow(-7px -7px 0px #7700BB);
    text-decoration: none;
    -webkit-text-stroke: 1px $text-color;
    transition: .3s;
    color: transparent;
    &:hover {
        color: $text-color;
        // text-shadow: -21px -21px 0px #7700BB;
        filter: drop-shadow(-21px -21px 0px #7700BB);
        transform: translate(7px, 7px);
        // transform: translate(-7px -7px);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(0.97);
    }
    15% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.97);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(0.97);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

@media (max-width: 767px) {}

* {
    margin: 0;
    padding: 0;
}

body {
    // margin: 0 20px;
    overflow-x: hidden;
    font-family: Monument Extended Ultrabold;
    display: grid;
    grid-auto-columns: 100%;
    // gap: 520px;
}

main {
    display: grid;
    // grid-auto-columns: 100%;
    gap: 7rem;
}

html {
    background-color: #070707;
    scroll-behavior: smooth;
}

section {
    min-height: 60vh;
    position: relative;
}

.graffiti {
    position: absolute;
    z-index: -1;
    animation: rotating 20s linear infinite;
    top: 75vh;
    width: 400px;
    height: 400px;
    right: -200px;
}

// .parent-title {
//     position: relative;
// }
// .title {
//     width: 100px;
//     z-index: 5;
//     // display: none;
//     // width: min-content;
//     position: absolute;
//     font-size: 4rem;
//     text-transform: uppercase;
//     -webkit-text-stroke: 0.5px $text-color;
//     transform: rotate(-90deg) translateX(-100%);
//     color: transparent;
//     // right: 50%;
//     left: -0px;
//     top: 50%;
//     // bottom: 0;
// }
.title {
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
    z-index: 5;
    position: absolute;
    font-size: 4rem;
    -webkit-text-stroke: 0.5px $text-color;
    color: transparent;
    text-transform: uppercase;
    left: 0;
    transform: rotateZ(180deg);
}

.btn-more {
    -webkit-text-stroke: 0.5px $text-color;
    color: transparent;
    font-size: 2rem;
    text-decoration: none;
    //border 
    border-left-width: .5px;
    border-left-style: solid;
    border-color: $text-color;
    text-transform: uppercase;
    padding-left: 3px;
    // transition: .3s;
    @include page-links;
    &:hover {
        color: #000;
        padding-left: 2rem;
        // @include text-hover($primary-first)
    }
}

@media (max-width: 767px) {
     :root {
        font-size: 12px;
    }
    .title {
        font-size: 3rem;
        -webkit-text-stroke: 0.2px $text-color;
    }
}

@import '/error-page',
'/header',
"/footer";
//home page
@import 'home/home',
'/privacy';