@import './variables.scss';
@font-face {
    font-family: "Punc";
    font-weight: bold;
    src: url("./fonts/Punc-Bold.otf");
}

@font-face {
    font-family: "Punc";
    font-weight: normal;
    src: url("./fonts/Punc-Regular.otf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: bold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500; //medium
    src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400; //regular
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 300; //light
    src: url("./fonts/Montserrat-Light.ttf");
}

.activeLink {
    color: $dominant;
}

body::-webkit-scrollbar {
    /* 1 */
    width: .7rem;
}

body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-track-piece {
    background-color: $bg-color;
    /* 4 */
}

body::-webkit-scrollbar-thumb {
    background-color: $dominant;
}

body::-webkit-scrollbar-corner {
    /* 6 */
    background-image: transparent;
}

* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Montserrat;
    display: grid;
}

html {
    background-color: $bg-color;
    scroll-behavior: smooth;
}

main {
    display: grid;
    justify-items: center;
    .main-grid {
        display: grid;
        gap: 7rem;
    }
}

section {
    min-height: 60vh;
    width: 90vw;
    position: relative;
    align-content: center;
}

.title {
    font-family: Punc;
    font-size: 5rem;
    color: $text-color;
    text-align: left;
    margin-bottom: 6vh;
}

.btnMore {
    font-family: Montserrat;
    font-weight: 800;
    @include text-hover($dominant);
    align-self: center;
    justify-self: center;
    -webkit-text-stroke: 0.5px $text-color;
    color: transparent;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
    margin-top: 6vh;
}

@media (max-width: 767px) {
     :root {
        font-size: 12px;
    }
    .title {
        font-size: 3rem;
        -webkit-text-stroke: 0.2px $text-color;
    }
}