@import './variables.scss';
.privacy {
    margin: 3rem 0;
    display: grid;
    justify-items: center;
    gap: 20px;
    h1 {
        width: min-content;
        text-align: center !important;
        margin-bottom: 0 !important;
    }
}

.privacyContent {
    @include md-styles;
}