// @import url(//db.onlinewebfonts.com/c/a4745f4b1d04fa025c6a05d891ed0126?family=Monument+Extended+Ultrabold);
// @import url(//db.onlinewebfonts.com/c/99501fdab737541e9315ceaf9229370f?family=Monument+Extended);
$text-color: #FFFFFF;
$dominant: #E6AF2E;
$text-size: 1.4rem;
$primary-first: #7700BB;
$primary-middle: #5e23df;
$primary-second: #0090FF;
$bg-color: #090C08;
$primary-gradient: linear-gradient(90deg, $primary-first 0%, $primary-middle 50%, $primary-second 100%);
// $primary-gradient:linear-gradient(90deg, #7700BB 0%, #5e23df 50%, #0090FF 100%);
;
@mixin primary-text-gradient {
    background: $primary-gradient !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
}

@mixin primary-stroke-gradient($px) {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-stroke: $px transparent;
}

@mixin text-hover($color) {
    position: relative;
    transition: 0.3s;
    &::before {
        content: "show";
        -webkit-text-stroke: 0px !important;
        font-size: .7rem;
        transition: .3s;
        // display: none;
        opacity: 0;
        color: $color;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &:hover {
        transform: translate(4px, 4px);
        color: $text-color;
        &::before {
            transform: translate(-8px, -8px);
            opacity: 1;
        }
    }
    // &::after {
    //     content: attr(data-text);
    //     color: red;
    //     position: absolute;
    //     // top: 0;
    //     // right: 0;
    //     // left: 0;
    //     // bottom: 0;
    //     // @include primary-text-gradient;
    //     z-index: 1;
    // }
    // &:hover:not(.header-logo) {
    //     // text-shadow: -8px -8px 0px $color;
    //     transform: translate(4px, 4px);
    // }
}

@mixin nav-btns {
    background: none;
    border: none;
    color: $text-color;
    font-family: Montserrat;
    font-size: 2rem;
    text-transform: uppercase;
    color: $text-color;
    font-family: Montserrat;
    font-weight: 800;
    transition: 0.3s;
    line-height: 100%;
    &:hover {
        color: $dominant;
    }
}

// @mixin text-hover($color) {
//     text-shadow: 0px 0px 0px $color;
//     transition: 0.2s;
//     &:hover:not(.header-logo) {
//         text-shadow: -8px -8px 0px $color;
//         transform: translate(4px, 4px);
//     }
// }
@mixin box-hover {
    box-shadow: 0px 0px 0px $primary-first;
    transition: 0.2s;
    &:hover {
        box-shadow: -8px -8px 0px white;
        transform: translate(4px, 4px);
    }
}

@mixin page-links {
    filter: drop-shadow(-7px -7px 0px $primary-first);
    text-decoration: none;
    -webkit-text-stroke: 0.5px $text-color;
    transition: .3s;
    color: transparent;
    &:hover {
        // color: $text-color;
        // text-shadow: -21px -21px 0px #7700BB;
        filter: drop-shadow(-21px -21px 0px $primary-second);
        transform: translate(3px, 3px);
        // transform: translate(-7px -7px);
    }
}

@mixin gradient-block-shadow($after-color) {
    position: relative;
    z-index: 1;
    transition: 0.3s;
    transform: translate(.5rem, .5rem);
    &:hover {
        transform: translate(1rem, 1rem);
        &::after {
            transform: translate(-2rem, -2rem);
            z-index: -1;
        }
    }
    &::after {
        // content: attr(text-attr);
        content: '';
        position: absolute;
        border: 1px solid $after-color;
        background-color: transparent;
        transform: translate(-1rem, -1rem);
        z-index: -1;
        transition: 0.3s;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

@mixin md-styles {
    display: grid;
    justify-self: center;
    width: 760px;
    color: $text-color;
    font-family: Montserrat;
    font-size: 1.3rem;
    line-height: 1.3rem*1.5;
    letter-spacing: 0px;
    margin: 2rem 1.5rem;
    h1,
    h2,
    h3 {
        text-align: center;
        font-family: Montserrat;
        font-weight: 800;
        margin-top: 2rem;
    }
    h1 {
        font-size: 2rem;
        line-height: 2rem*1.5;
    }
    h2 {
        font-size: 1.7rem;
        line-height: 1.5rem*1.5;
    }
    h3 {
        font-size: 1.5rem;
        line-height: 1.5rem*1.5;
    }
    li {
        padding-left: 1em;
        list-style-position: inside;
    }
    li::marker {
        // list-style-type: none;
        // color: $primary-first;
        font-weight: 100;
    }
    ul {
        // list-style-type: "◙";
    }
    ol {}
    a {
        font-weight: 600;
        color: $text-color;
        text-decoration: none;
        background-image: $primary-gradient;
        background-size: 100% 30%;
        background-repeat: no-repeat;
        letter-spacing: 1px;
        transition: .3s;
        background-size: 100% 50%;
        background-position: 50% 100%;
        &:hover {
            background-position: 100% 0%;
        }
    }
    p {
        margin: 1.2rem 0;
        img {
            justify-self: center;
            width: 100%;
            transition: .3s;
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    table {
        table-layout: auto;
        width: 100%;
        border-collapse: collapse;
        border: 3px solid $primary-first;
        transition: .3s;
        tr {
            &:hover {
                transition: .3s;
                background-image: linear-gradient(90deg, #7800bd80 0%, #6024e080 50%, #0091ff80 100%);
            }
        }
        th,
        td {
            padding: 2rem 1rem;
        }
        th {
            font-family: Monument Extended;
            text-align: center !important;
        }
        td {
            text-align: left !important;
        }
    }
    hr {
        width: 100%;
    }
    @media(max-width: 768px) {
        width: 90vw;
        p {
            img {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }
}